*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Sans-serif;
  }
  body{
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: brown;
    background-image: url(2.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
  }
  .container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: linear_gradient(135deg, #dc0606ca, #05073a);
  }
  .container .heading{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
    color: black;
    background-color: #fff;
    border-radius: 15px;
  }
  .container.heading::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b5b)
  }
  .container form .card-details{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container form .option{
    height: 45px;
    width: calc(100% / 2 - 5px);
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-color: #9b59b6;
  }
  .option option{
      font-size:20px
  }
  form .card-details .card-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
  }
  .card-details .card-box .details{
    display: block;
    font-weight: 1000;
    margin-bottom: 5px;
  }
  .card-details .card-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .card-details .card-box input:focus,
  .card-details .card-box input:valid{
    border-color: #9b59b6;
  }
  form .circal-form .circal_title{
    font-size: 20px;
    font-weight: 500px;
    border-bottom: 2px solid;
  }
  form .circal-form .category{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  form .button{
    text-align: center;
  }
  form .button input{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #05073a, #dc0606);
  }
  form .button input:hover{
    background: black;
    cursor: pointer;
  }
  
  
  @media (max-width: 584px){
    .container{
      max-width: 100%;
    }
    form .card-details .card-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .circal-form .category{
      width: 100%;
    }
    .container form .card-details{
      max-height: 300px;
      overflow: scroll;
    }
    .card-details::_webkit-scrollbar{
      width: 0;
    }
  }